{
  "openapi": "3.0.1",
  "info": {
    "title": "Illusory API Reference",
    "description": "Interact with Illusory proxies",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cmd.illusory.io"
    }
  ],
  "paths": {
    "/v1/proxies/{apiKey}/{proxyName}": {
      "get": {
        "description": "Return a proxy associated with the specified `apiKey`",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "description": "Replace `:apiKey` in the url path with `YOUR_API_KEY` to authenticate the request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `:proxyName` in the url path with `YOUR_PROXY` to retrieve the details.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sever response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Proxy"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/2": {
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proxy"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Proxy": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Whether the request was successful or not",
            "example": true
          },
          "data": {
            "type": "object",
            "description": "The data returned from the request",
            "example": {
              "proxy_name": "ILL-US-AU1-9999",
              "nickname": null,
              "isp": "Verizon",
              "period": "weekly",
              "auto_renew": false,
              "auto_renew_interval": 1,
              "added_at": "2023-12-04T17:43:16.407+00:00",
              "expires_at": "2023-12-14T23:23:09.792+00:00",
              "network_status": "online",
              "server_ip": "198.765.543.21",
              "h_port": 12345,
              "s_port": 67890,
              "auth_method": "basic",
              "username": "john",
              "password": "wick05",
              "whitelist": null,
              "auto_change": false,
              "auto_change_time": 0,
              "last_ip_change": "2023-12-04T17:51:40.339+00:00",
              "last_reboot": "2023-12-04T17:51:40.339+00:00",
              "traffic": 60156561622,
              "h_threads": 99,
              "s_threads": 0,
              "city": "Austin",
              "state": "TX"
            }
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Proxy"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}