{
  "openapi": "3.0.1",
  "info": {
    "title": "Illusory API Reference",
    "description": "Interact with Illusory proxies",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cmd.illusory.io"
    }
  ],
  "paths": {
    "/v1/proxies/{proxyName}": {
      "get": {
        "description": "Retrieves the details of a proxy server.",
        "parameters": [
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY` to retrieve the details.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-get"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies": {
      "get": {
        "description": "Lists all proxy servers belonging to the account.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/proxy-list"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/changeip/{proxyName}": {
      "post": {
        "description": "Changes the external mobile IP of a proxy server that is visible to target sites.",
        "parameters": [
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY` to retrieve the details.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Reset proxy command sent to device successfully."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-change-ip"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/changeip/{limitedApiKey}/{proxyName}": {
      "get": {
        "description": "Changes the external mobile IP using a link and `Limited` API key.",
        "parameters": [
          {
            "name": "limitedApiKey",
            "in": "path",
            "description": "Replace `{limitedApiKey}` in the url path with `YOUR_LIMITED_API_KEY` to retrieve the details.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY` to retrieve the details.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Reset proxy command sent to device successfully."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-change-ip"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/auth/basic/{proxyName}": {
      "patch": {
        "description": "Updates the basic authentication details of a proxy server.",
        "parameters": [
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY` to update the authorization.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Basic authentication details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Username for authentication e.g., `john`",
                    "example": "john"
                  },
                  "password": {
                    "type": "string",
                    "description": "Password for authentication e.g., `wick05`",
                    "example": "wick05"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Both username and password were updated."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-basic-auth"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/auth/whitelist/{proxyName}": {
      "patch": {
        "description": "Updates the whitelist authentication details of a proxy server.",
        "parameters": [
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY` to update the authorization.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Whitelist authentication details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authorize_ip": {
                    "type": "string",
                    "description": "Set the IP address to authorize. Use commas to specify multiple IP addresses. e.g. `123.123.23,456.456.56/24,789.789.89`.",
                    "example": "123.123.23,456.456.56/24,789.789.89"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Successfully updated and enabled the whitelist IP(s)."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-basic-auth"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "proxy-get": {
        "type": "object",
        "properties": {
          "proxy_name": {
            "type": "string",
            "description": "Unique identifier of the proxy server",
            "example": "ILL-US-AU1-9999"
          },
          "nickname": {
            "type": "string",
            "description": "Optional nickname for the user or proxy.",
            "example": null,
            "nullable": true
          },
          "isp": {
            "type": "string",
            "description": "Name of the Internet Service Provider",
            "example": "Verizon"
          },
          "period": {
            "type": "string",
            "description": "Subscription period, e.g., `weekly`, `monthly`",
            "example": "weekly"
          },
          "auto_renew": {
            "type": "boolean",
            "description": "Indicates whether the expiration auto-renews",
            "example": false
          },
          "auto_renew_interval": {
            "type": "integer",
            "description": "The period interval for auto-renewal",
            "example": 1
          },
          "added_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the proxy was added",
            "example": "2050-12-04T17:43:16.407+00:00"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the proxy will expire",
            "example": "2050-12-14T23:23:09.792+00:00"
          },
          "network_status": {
            "type": "string",
            "description": "Current status of the network, e.g., `online`, `offline`, `rebooting`",
            "example": "online"
          },
          "server_ip": {
            "type": "string",
            "description": "IP address of the server",
            "example": "198.765.543.21"
          },
          "h_port": {
            "type": "integer",
            "description": "Port number for HTTP connections",
            "example": 12345
          },
          "s_port": {
            "type": "integer",
            "description": "Port number for SOCKS5 connections",
            "example": 67890
          },
          "auth_method": {
            "type": "string",
            "description": "Authentication method. `basic` or `whitelist`",
            "example": "basic"
          },
          "username": {
            "type": "string",
            "description": "Username for authentication",
            "example": "john"
          },
          "password": {
            "type": "string",
            "description": "Password for authentication",
            "example": "wick05"
          },
          "whitelist": {
            "type": "string",
            "description": "List of whitelisted IP addresses or domains, can be `null`",
            "example": null,
            "nullable": true
          },
          "auto_change": {
            "type": "boolean",
            "description": "Indicates whether the IP changes automatically",
            "example": false
          },
          "auto_change_time": {
            "type": "integer",
            "description": "Time interval for automatic IP change, in minutes",
            "example": 0
          },
          "last_ip_change": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last IP change",
            "example": "2050-12-04T17:51:40.339+00:00"
          },
          "last_reboot": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last server reboot",
            "example": "2050-12-04T17:51:40.339+00:00"
          },
          "traffic": {
            "type": "integer",
            "description": "Total network traffic in bytes",
            "example": 60156561622
          },
          "h_threads": {
            "type": "integer",
            "description": "Number of active HTTP threads",
            "example": 99
          },
          "s_threads": {
            "type": "integer",
            "description": "Number of active SOCKS5 threads",
            "example": 0
          },
          "city": {
            "type": "string",
            "description": "The city where the server is located",
            "example": "Austin"
          },
          "state": {
            "type": "string",
            "description": "The abbreviated state where the server is located. e.g., `TX`",
            "example": "TX"
          }
        }
      },
      "proxy-change-ip": {
        "type": "object",
        "properties": {
          "proxy_name": {
            "type": "string",
            "description": "Unique identifier of the proxy server",
            "example": "ILL-US-AU1-9999"
          },
          "last_ip_change": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the proxy was added",
            "example": "2050-12-04T17:43:16.407+00:00"
          }
        }
      },
      "proxy-basic-auth": {
        "type": "object",
        "properties": {
          "proxy_name": {
            "type": "string",
            "description": "Unique identifier of the proxy server",
            "example": "ILL-US-AU1-9999"
          },
          "last_auth_change": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the proxy authentication was updated",
            "example": "2050-12-04T17:43:16.407+00:00"
          },
          "username": {
            "type": "string",
            "description": "Username for authentication",
            "example": "john"
          },
            "password": {
                "type": "string",
                "description": "Password for authentication",
                "example": "wick05"
            }
        }
      },
      "proxy-basic-whitelist": {
        "type": "object",
        "properties": {
          "proxy_name": {
            "type": "string",
            "description": "Unique identifier of the proxy server",
            "example": "ILL-US-AU1-9999"
          },
          "last_auth_change": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the proxy authentication was updated",
            "example": "2050-12-04T17:43:16.407+00:00"
          },
          "whitelist": {
            "type": "string",
            "description": "List of whitelisted IP addresses or domains",
            "example": "123.123.23,456.456.56/24,789.789.89"
          }
        }
      },
      "proxy-list": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Indicates whether the request was successful e.g., `true`"
          },
          "data": {
            "type": "array",
            "description": "An array of proxy details",
            "items": {
              "$ref": "#/components/schemas/proxy-get"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Indicates the request was unsuccessful e.g., `false`"
          },
          "data": {
            "type": "object",
            "description": "Additional error data",
            "properties": {
              "proxy_name": {
                "type": "string",
                "description": "Unique identifier of the proxy server"
              }
            }
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        },
        "example": {
          "ok": false,
          "data": {
            "proxy_name": "ILL-US-AU1-9999"
          },
          "message": "Proxy not found"
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "apiKey",
        "description": "The `Authorization` header is used to authenticate with the API using your `Master` API key. Value is of the format `Bearer YOUR_KEY_HERE`."
      }
    }
  }
}