{
  "openapi": "3.0.1",
  "info": {
    "title": "Illusory API Reference",
    "description": "Interact with Illusory proxies",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cmd.illusory.io"
    }
  ],
  "paths": {
    "/v1/proxies/{proxyName}": {
      "get": {
        "description": "Retrieves the details of a proxy server.",
        "parameters": [
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-get"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies": {
      "get": {
        "description": "Lists all proxy servers belonging to the account.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/proxy-list"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/changeip/{proxyName}": {
      "post": {
        "description": "Changes the external mobile IP of a proxy server that is visible to target sites.",
        "parameters": [
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "202": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Reset proxy command sent to device successfully."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-change-ip"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/reboot/{proxyName}": {
      "post": {
        "description": "Hard reboots a proxy server.",
        "parameters": [
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "202": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Power cycle command sent to device successfully."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-power-cycle"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/changeip/{limitedApiKey}/{proxyName}": {
      "get": {
        "description": "Changes the external mobile IP using a link and `Limited` API key.",
        "parameters": [
          {
            "name": "limitedApiKey",
            "in": "path",
            "description": "Replace `{limitedApiKey}` in the url path with `YOUR_LIMITED_API_KEY`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "202": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Reset proxy command sent to device successfully."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-change-ip"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/auth/basic/{proxyName}": {
      "patch": {
        "description": "Updates the basic authentication details of a proxy server.",
        "parameters": [
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Basic authentication details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Username for authentication e.g., `john`. If `null`, a random username will be generated.",
                    "example": "john"
                  },
                  "password": {
                    "type": "string",
                    "description": "Password for authentication e.g., `wick05`. If `null`, a random password will be generated.",
                    "example": "wick05"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Both username and password were updated."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-basic-auth"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/auth/whitelist/{proxyName}": {
      "patch": {
        "description": "Sets the whitelisted IP addresses authorized for a proxy server.",
        "parameters": [
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Whitelist authentication details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authorize_ip": {
                    "type": "string",
                    "description": "Set the IP address to authorize. Use commas to specify multiple IP addresses. e.g. `123.123.23,456.456.56/24,789.789.89`.",
                    "example": "123.123.23,456.456.56/24,789.789.89"
                  }
                },
                "required": [
                  "authorize_ip"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Successfully updated and enabled the whitelist IP(s)."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-basic-whitelist"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/ipv4/{proxyName}": {
      "post": {
        "description": "Updates the IPv4 status of the proxy server.",
        "parameters": [
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updates the IPv4 status of the specified proxy",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enable": {
                    "type": "boolean",
                    "description": "IPv4 status value. If `enable` = `true`, then the proxy will have IPv4 enabled. Default: `true`",
                    "example": "true"
                  }
                },
                "required": [
                  "enable"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "202": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "IPv4 update status command sent to device successfully."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-ipv4"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/autochangeip/{proxyName}": {
      "post": {
        "description": "Sets auto change external IP settings of the proxy server.",
        "parameters": [
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Auto change external IP settings",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enable": {
                    "type": "boolean",
                    "description": "Auto change external IP status value. If `enable` = `true`, then the proxy will have auto change external IP enabled. Default: `false`",
                    "example": true
                  },
                  "rate": {
                    "type": "integer",
                    "description": "Time interval for automatic IP change, in minutes. Default: `10`",
                    "example": 10
                  }
                },
                "required": [
                  "enable"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Auto Change updated for ILL-US-AU1-9999 successfully."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-change-ip-auto"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/swap/{proxyName}": {
      "post": {
        "description": "Swaps the proxy server with another proxy server.",
        "parameters": [
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `{proxyName}` in the url path with `YOUR_PROXY`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Swap proxy details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isp": {
                    "type": "string",
                    "description": "Name of the Internet Service Provider e.g. `Verizon`",
                    "example": "Verizon"
                  },
                  "location": {
                    "type": "string",
                    "description": "City of the proxy server e.g. `Austin`",
                    "example": "Austin"
                  },
                  "copy_settings": {
                    "type": "boolean",
                    "description": "Indicates whether to copy the settings of the proxy being swapped with. Default: `false`",
                    "example": true
                  }
                },
                "required": [
                  "isp",
                  "location"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "202": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Proxy swap command sent to device successfully."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-swap"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error--422-proxy-low-stock"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/remove": {
      "delete": {
        "description": "Removes one or more proxy servers from the account.",
        "requestBody": {
          "description": "Remove proxy details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "proxies": {
                    "type": "array",
                    "description": "List of proxy names to remove",
                    "items": {
                      "type": "string",
                      "example": [
                        "ILL-US-AU1-9999",
                        "ILL-US-AU1-9998"
                      ]
                    }
                  }
                },
                "required": [
                  "proxies"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "202": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Requested proxy removal successfully. The proxy will be removed shortly."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-remove"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/deploy": {
      "post": {
        "description": "Deploys one or more proxy servers.",
        "requestBody": {
          "description": "Deploy proxy details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "proxies": {
                    "type": "array",
                    "description": "List of proxies to deploy. Each item should include `isp`, `location`, `interval` and `period`.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "isp": {
                          "type": "string",
                          "description": "Internet Service Provider"
                        },
                        "location": {
                          "type": "string",
                          "description": "City of the proxy server. e.g., `Austin`"
                        },
                        "interval": {
                          "type": "integer",
                          "description": "Interval for deployment period. e.g., `2` weeks."
                        },
                        "period": {
                          "type": "string",
                          "enum": [
                            "hourly",
                            "daily",
                            "weekly",
                            "monthly",
                            "yearly"
                          ],
                          "description": "Deployment period, e.g., 'weekly'"
                        }
                      },
                      "required": [
                        "isp",
                        "location",
                        "interval",
                        "period"
                      ],
                      "example": [
                        {
                          "isp": "Verizon",
                          "location": "Austin",
                          "interval": 1,
                          "period": "weekly"
                        },
                        {
                          "isp": "AT&T",
                          "location": "Cleveland",
                          "interval": 2,
                          "period": "monthly"
                        }
                      ]
                    }
                  }
                },
                "required": [
                  "proxies"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "202": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Sent deploy request successfully. Your proxies should be deployed shortly to your dashboard."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-deploy"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error--422-proxy-low-stock"
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxies/allocate": {
      "post": {
        "description": "Allocates time to extend the expiration of one or more proxy servers.",
        "requestBody": {
          "description": "Allocate proxy details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "proxies": {
                    "type": "object",
                    "description": "Object containing a list of proxies to allocate.",
                    "properties": {
                      "time": {
                        "type": "array",
                        "description": "List of proxies to allocate time to. Each item should include `proxy_name`, `interval` and `period`.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "proxy_name": {
                              "type": "string",
                              "description": "Unique identifier of the proxy server"
                            },
                            "interval": {
                              "type": "integer",
                              "description": "Interval for allocation period. e.g., `2` weeks."
                            },
                            "period": {
                              "type": "string",
                              "enum": [
                                "hourly",
                                "daily",
                                "weekly",
                                "monthly",
                                "yearly"
                              ],
                              "description": "Allocation period, e.g., 'weekly'"
                            }
                          },
                          "required": [
                            "proxy_name",
                            "interval",
                            "period"
                          ]
                        }
                      }
                    },
                    "required": [
                      "time"
                    ],
                    "example": {
                      "time": [
                        {
                          "proxy_name": "ILL-US-AU1-9999",
                          "interval": 1,
                          "period": "weekly"
                        },
                        {
                          "proxy_name": "ILL-US-AU1-9998",
                          "interval": 2,
                          "period": "monthly"
                        }
                      ]
                    }
                  }
                },
                "required": [
                  "proxies"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "202": {
            "description": "Server response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful e.g., `true`"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message",
                      "example": "Sent deploy request successfully. Your proxies should be deployed shortly to your dashboard."
                    },
                    "data": {
                      "$ref": "#/components/schemas/proxy-deploy"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error--422-proxy-low-stock"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "proxy-get": {
        "type": "object",
        "properties": {
          "proxy_name": {
            "type": "string",
            "description": "Unique identifier of the proxy server",
            "example": "ILL-US-AU1-9999"
          },
          "nickname": {
            "type": "string",
            "description": "Optional nickname for the user or proxy.",
            "example": null,
            "nullable": true
          },
          "isp": {
            "type": "string",
            "description": "Name of the Internet Service Provider",
            "example": "Verizon"
          },
          "period": {
            "type": "string",
            "description": "Subscription period, e.g., `weekly`, `monthly`",
            "example": "weekly"
          },
          "auto_renew": {
            "type": "boolean",
            "description": "Indicates whether the expiration auto-renews",
            "example": false
          },
          "auto_renew_interval": {
            "type": "integer",
            "description": "The period interval for auto-renewal",
            "example": 1
          },
          "added_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the proxy was added",
            "example": "2050-12-04T17:43:16.407+00:00"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the proxy will expire",
            "example": "2050-12-14T23:23:09.792+00:00"
          },
          "network_status": {
            "type": "string",
            "description": "Current status of the network, e.g., `online`, `offline`, `rebooting`",
            "example": "online"
          },
          "server_ip": {
            "type": "string",
            "description": "IP address of the server",
            "example": "198.765.543.21"
          },
          "h_port": {
            "type": "integer",
            "description": "Port number for HTTP connections",
            "example": 12345
          },
          "s_port": {
            "type": "integer",
            "description": "Port number for SOCKS5 connections",
            "example": 67890
          },
          "auth_method": {
            "type": "string",
            "description": "Authentication method. `basic` or `whitelist`",
            "example": "basic"
          },
          "username": {
            "type": "string",
            "description": "Username for authentication",
            "example": "john"
          },
          "password": {
            "type": "string",
            "description": "Password for authentication",
            "example": "wick05"
          },
          "whitelist": {
            "type": "string",
            "description": "List of whitelisted IP addresses or domains, can be `null`",
            "example": null,
            "nullable": true
          },
          "auto_change": {
            "type": "boolean",
            "description": "Indicates whether the IP changes automatically",
            "example": false
          },
          "auto_change_time": {
            "type": "integer",
            "description": "Time interval for automatic IP change, in minutes",
            "example": 0
          },
          "last_ip_change": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last IP change",
            "example": "2050-12-04T17:51:40.339+00:00"
          },
          "last_reboot": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last server reboot",
            "example": "2050-12-04T17:51:40.339+00:00"
          },
          "traffic": {
            "type": "integer",
            "description": "Total network traffic in bytes",
            "example": 60156561622
          },
          "h_threads": {
            "type": "integer",
            "description": "Number of active HTTP threads",
            "example": 99
          },
          "s_threads": {
            "type": "integer",
            "description": "Number of active SOCKS5 threads",
            "example": 0
          },
          "city": {
            "type": "string",
            "description": "The city where the server is located",
            "example": "Austin"
          },
          "state": {
            "type": "string",
            "description": "The abbreviated state where the server is located. e.g., `TX`",
            "example": "TX"
          }
        }
      },
      "proxy-change-ip": {
        "type": "object",
        "properties": {
          "proxy_name": {
            "type": "string",
            "description": "Unique identifier of the proxy server",
            "example": "ILL-US-AU1-9999"
          },
          "last_ip_change": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the proxy IP was last changed",
            "example": "2050-12-04T17:43:16.407+00:00"
          }
        }
      },
      "proxy-power-cycle": {
        "type": "object",
        "properties": {
          "proxy_name": {
            "type": "string",
            "description": "Unique identifier of the proxy server",
            "example": "ILL-US-AU1-9999"
          },
          "last_reboot": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the proxy was last rebooted",
            "example": "2050-12-04T17:43:16.407+00:00"
          }
        }
      },
      "proxy-basic-auth": {
        "type": "object",
        "properties": {
          "proxy_name": {
            "type": "string",
            "description": "Unique identifier of the proxy server",
            "example": "ILL-US-AU1-9999"
          },
          "last_auth_change": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the proxy authentication was updated",
            "example": "2050-12-04T17:43:16.407+00:00"
          },
          "username": {
            "type": "string",
            "description": "Username for authentication",
            "example": "john"
          },
          "password": {
            "type": "string",
            "description": "Password for authentication",
            "example": "wick05"
          }
        }
      },
      "proxy-basic-whitelist": {
        "type": "object",
        "properties": {
          "proxy_name": {
            "type": "string",
            "description": "Unique identifier of the proxy server",
            "example": "ILL-US-AU1-9999"
          },
          "last_auth_change": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the proxy authentication was updated",
            "example": "2050-12-04T17:43:16.407+00:00"
          },
          "whitelist": {
            "type": "string",
            "description": "List of whitelisted IP addresses or domains",
            "example": "123.123.23,456.456.56/24,789.789.89"
          }
        }
      },
      "proxy-ipv4": {
        "type": "object",
        "properties": {
          "proxy_name": {
            "type": "string",
            "description": "Unique identifier of the proxy server",
            "example": "ILL-US-AU1-9999"
          },
          "last_ipv4_update": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the proxy IPv4 was updated",
            "example": "2050-12-04T17:43:16.407+00:00"
          },
          "ipv4": {
            "type": "boolean",
            "description": "Indicates whether the proxy IPv4 is enabled",
            "example": true
          }
        }
      },
      "proxy-change-ip-auto": {
        "type": "object",
        "properties": {
          "proxy_name": {
            "type": "string",
            "description": "Unique identifier of the proxy server",
            "example": "ILL-US-AU1-9999"
          },
          "next_ip_change": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the next IP change will occur",
            "example": "2050-12-04T19:43:16.407+00:00"
          },
          "auto_change": {
            "type": "boolean",
            "description": "Indicates whether the proxy Auto Change IP setting is enabled",
            "example": true
          },
          "auto_change_time": {
            "type": "integer",
            "description": "Indicates the time interval for automatic IP change, in minutes",
            "example": 10
          }
        }
      },
      "proxy-swap": {
        "type": "object",
        "properties": {
          "proxy_name": {
            "type": "string",
            "description": "Unique identifier of the proxy server",
            "example": "ILL-US-AU1-9999"
          }
        }
      },
      "proxy-remove": {
        "type": "object",
        "properties": {
          "proxies": {
            "type": "array",
            "description": "List of proxies removed",
            "items": {
              "type": "string",
              "example": [
                "ILL-US-AU1-9999",
                "ILL-US-AU1-9998"
              ]
            }
          }
        }
      },
      "proxy-deploy": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Unique identifier of the user",
            "example": "user_1234567890"
          },
          "total": {
            "type": "integer",
            "description": "Total amount to be deducted from your Illusory Wallet.",
            "example": 25
          }
        }
      },
      "proxy-list": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Indicates whether the request was successful e.g., `true`"
          },
          "data": {
            "type": "array",
            "description": "An array of proxy details",
            "items": {
              "$ref": "#/components/schemas/proxy-get"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Indicates the request was unsuccessful e.g., `false`"
          },
          "data": {
            "type": "object",
            "description": "Additional error data",
            "properties": {
              "proxy_name": {
                "type": "string",
                "description": "Unique identifier of the proxy server"
              }
            }
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        },
        "example": {
          "ok": false,
          "data": {
            "proxy_name": "ILL-US-AU1-9999"
          },
          "message": "Proxy not found"
        }
      },
      "error--422-proxy-low-stock": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Indicates the request was unsuccessful e.g., `false`"
          },
          "data": {
            "type": "object",
            "description": "Additional error data",
            "properties": {
              "count": {
                "type": "integer",
                "description": "Amount of product stock available"
              },
              "amount": {
                "type": "integer",
                "description": "Amount of product requested"
              },
              "location": {
                "type": "string",
                "description": "Location of stock with discrepancy"
              },
              "isp": {
                "type": "string",
                "description": "ISP of stock with discrepancy"
              }
            }
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        },
        "example": {
          "ok": false,
          "data": {
            "count": 0,
            "amount": 1,
            "location": "Cleveland",
            "isp": "AT&T"
          },
          "message": "The amount requested is lower than the available stock. Please review your cart as it may have been revised."
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "apiKey",
        "description": "The `Authorization` header is used to authenticate with the API using your `Master` API key. Value is of the format `Bearer YOUR_KEY_HERE`."
      }
    }
  }
}