{
  "openapi": "3.0.1",
  "info": {
    "title": "Illusory API Reference",
    "description": "Interact with Illusory proxies",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cmd.illusory.io"
    }
  ],
  "paths": {
    "/v1/proxies/{apiKey}/{proxyName}": {
      "get": {
        "description": "Return a proxy associated with the specified `apiKey`",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "description": "Replace `:apiKey` in the url path with `YOUR_API_KEY` to authenticate the request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxyName",
            "in": "path",
            "description": "Replace `:proxyName` in the url path with `YOUR_PROXY` to retrieve the details.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sever response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Proxy"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/2": {
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proxy"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Proxy": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Indicates whether the request was successful",
            "example": true
          },
          "data": {
            "type": "object",
            "description": "Contains the detailed information returned from the request",
            "properties": {
              "proxy_name": {
                "type": "string",
                "description": "Unique identifier of the proxy server",
                "example": "ILL-US-AU1-9999"
              },
              "nickname": {
                "type": "string",
                "description": "Optional nickname for the user or proxy",
                "nullable": true
              },
              "isp": {
                "type": "string",
                "description": "Name of the Internet Service Provider",
                "example": "Verizon"
              },
              "period": {
                "type": "string",
                "description": "Subscription period, e.g., `weekly`, `monthly`",
                "example": "weekly"
              },
              "auto_renew": {
                "type": "boolean",
                "description": "Indicates whether the expiration auto-renews",
                "example": false
              },
              "auto_renew_interval": {
                "type": "integer",
                "description": "The period interval for auto-renewal",
                "example": 1
              },
              "added_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of when the proxy was added",
                "example": "2023-12-04T17:43:16.407+00:00"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of when the proxy will expire",
                "example": "2023-12-14T23:23:09.792+00:00"
              },
              "network_status": {
                "type": "string",
                "description": "Current status of the network, e.g., `online`, `offline`, `rebooting`",
                "example": "online"
              },
              "server_ip": {
                "type": "string",
                "description": "IP address of the server",
                "example": "198.765.543.21"
              },
              "h_port": {
                "type": "integer",
                "description": "Port number for HTTP connections",
                "example": 12345
              },
              "s_port": {
                "type": "integer",
                "description": "Port number for SOCKS5 connections",
                "example": 67890
              },
              "auth_method": {
                "type": "string",
                "description": "Authentication method. `basic` or `whitelist`",
                "example": "basic"
              },
              "username": {
                "type": "string",
                "description": "Username for authentication",
                "example": "john"
              },
              "password": {
                "type": "string",
                "description": "Password for authentication",
                "example": "wick05"
              },
              "whitelist": {
                "type": "string",
                "description": "List of whitelisted IP addresses or domains, can be `null`",
                "nullable": true
              },
              "auto_change": {
                "type": "boolean",
                "description": "Indicates whether the IP changes automatically",
                "example": false
              },
              "auto_change_time": {
                "type": "integer",
                "description": "Time interval for automatic IP change, in hours",
                "example": 0
              },
              "last_ip_change": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of the last IP change",
                "example": "2023-12-04T17:51:40.339+00:00"
              },
              "last_reboot": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of the last server reboot",
                "example": "2023-12-04T17:51:40.339+00:00"
              },
              "traffic": {
                "type": "integer",
                "description": "Total network traffic in bytes",
                "example": 60156561622
              },
              "h_threads": {
                "type": "integer",
                "description": "Number of active HTTP threads",
                "example": 99
              },
              "s_threads": {
                "type": "integer",
                "description": "Number of active secure threads",
                "example": 0
              },
              "city": {
                "type": "string",
                "description": "The city where the server is located",
                "example": "Austin"
              },
              "state": {
                "type": "string",
                "description": "The state where the server is located",
                "example": "TX"
              }
            }
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Proxy"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}